.row .properties {
	height: 35px;
}

.row .edit-properties {
	height: 35px;
}

.property-label {
	color: #666666;
	text-align: left;
	width: 25%;
	float: left;
	font-weight: bold;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

.top-align {
	vertical-align: top;
}

div.edit-properties.error > input { border-color: #E9322D; }
div.edit-properties.error > select { border-color: #E9322D; }
div.edit-properties.error > textarea { border-color: #E9322D; }

/*table > tbody > tr:hover > td { cursor:pointer; }*/

