span.currentStep {
	float: left;
	padding: 0 14px;
	line-height: 34px;
	border-right: 1px solid;
	border-right-color: #DDD;
	border-right-color: rgba(0, 0, 0, 0.15);
	text-decoration: none;
}
.row .properties {
	height: 35px;
}

.row .edit-properties {
	height: 35px;
}

.property-label {
	color: #666666;
	text-align: left;
	width: 25%;
	float: left;
	font-weight: bold;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

.pagination span.currentStep {
	color: #999;
	cursor: default;
	background-color: whiteSmoke;	
	float: left;
	padding: 0 14px;
	line-height: 34px;
	text-decoration: none;
	border: 1px solid #DDD;
	border-left-width: 0;
}

div.edit-properties.error > input { border-color: #E9322D; }
div.edit-properties.error > select { border-color: #E9322D; }
div.edit-properties.error > textarea { border-color: #E9322D; }

/*table > tbody > tr:hover > td { cursor:pointer; }*/

